
body{
    background-color: rgb(31, 31, 31);
    color:whitesmoke;
}
.links{
    color: whitesmoke;
    text-decoration: none;
    margin:0.5%;
    padding: auto;
    font-size: 10.75px;
    font-family: arial,sans-serif;
}
#navbar{
    display: flex;
    padding: 6px;
    justify-content: space-between;
}
#left-side-nav{
    width: 150px;
}
#profile-image{
    height: 40px;
}
#LOGO{
    padding-top:50px ;
    text-align: center;
    margin-top: 55px;
}
#img-logo{
    height: 85px;
}
#search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
#searchbox{
    display: flex;
    padding-top: 5px;
    background-color: rgb(77, 81, 86);
    width: 40%;
    border-radius: 20px;
    min-height: 30px;
    justify-content: space-between;
}
#inurl{
    margin-left: 20px;
    background-color: rgba(0,0,0,0);
    border: none;
    color:#f5f5f5;
    outline: none;
    border: none;
    min-width: 30%;
    max-width: fit-content;
}
#search-button{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
#searchbox{
    margin-top: 20px;
}
#inurl::-ms-value{
    color:whitesmoke
}
#inurl::placeholder{
    color: rgba(245, 245, 245, 0.74);
}
